<mat-card>
  <mat-card-title>
    <h4>Registreer</h4>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]='user' (ngSubmit)='onSubmit()'>
      <mat-form-field class="example-full-width">
        <input matInput type="text" id="username" formControlName='username' placeholder="e-mail">
        <mat-error *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>Deze gebruiker bestaat al.</mat-error>
      </mat-form-field>
      <div formGroupName="passwordGroup">
        <mat-form-field>
          <input id="password" formControlName='password' matInput placeholder="Kies een paswoord" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input id="confirmPassword" formControlName='confirmPassword' matInput placeholder="Bevestig paswoord" type="password">
        </mat-form-field>
      </div>
      <button [disabled]="!user.valid" mat-raised-button color="primary" type='submit'>Registreer</button>
    </form>
  </mat-card-content>
</mat-card>