.product-container {

    display: flex;
    flex-flow: column;
    justify-content: space-around;

    mat-card {
        // box-sizing: border-box;
        // display: inline-block;
        // width: 15rem;
        margin: 5px 0;
        mat-form-field {
            width: 100%;
        }

        input {
            text-align: center;
        }

    }
}

@media all and (min-width: 900px){
    .product-container {
        // align-content: flex-start;
        // width: 90%;
        max-width: 60rem;
        margin: 1rem auto;
        // display: inline-flex;
        // flex-flow: row wrap;
        // justify-content: flex-start;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    
        mat-card {
                // box-sizing: border-box;
                // display: inline-block;
                // width: 15rem;
            // flex-basis: 18rem;
            // flex-grow: 0;
            // flex-shrink: 0;
            // max-width: 350px;
            // margin: 5px 0.5%;
            mat-form-field {
                width: 100%;
            }
    
            input {
                text-align: center;
            }
    
        }
    }
}